div {
  display: inline-block;
}
.blue {
  background-color: blue;
  height: 100px;
  width: 100px;
  position: relative;
  left: 100px;
  left: 200px;
}
.red {
  background-color: red;
  height: 100px;
  width: 100px;
  position: relative;
  right: 100px;
}
.yellow {
  background-color: yellow;
  height: 100px;
  width: 100px;
  position: relative;
  right: 100px;
}
